themes/Custom/pdtheme/frontend/src/404.pug
doctype html
html
    include includes/partials/head
    body
        section.notfound
            .container
                .nf-content
                    h1.h2 Мелодия не найдена
                    .btn-wrapper
                        a.button(href="/")
                            span.btn-text Играть заново
                img(src=require('./img/ui/404.svg') alt="Страница не найдена")

themes/Custom/pdtheme/frontend/dist/404.html
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>Страница не найдена</title>
  <meta name="theme-color" content="#27bdc0">
<link href="css/style.css" rel="stylesheet"></head>
  <body>
    <section class="notfound">
      <div class="container">
        <div class="nf-content">
          <h1 class="h2">Мелодия не найдена</h1>
          <div class="btn-wrapper"><a class="button" href="/"><span class="btn-text">Играть заново</span></a></div>
        </div><img src="img/ui/404.svg" alt="Страница не найдена">
      </div>
    </section>
  <script type="text/javascript" src="js/app.js"></script></body>
</html>
